.App {
  text-align: center;
  margin-top: 50px;
}

form {
  display: center;
  padding: 20px;
<<<<<<< HEAD
  border: 2px solid #ccc;
=======
  /* border: 2px solid #ccc; */
>>>>>>> 49662127d0d6a9f89b1a73a873273141f2c528ef
  border-radius: 5px;
}

label {
  font-weight: bold;
}

input[type="radio"],
input[type="range"] {
  margin: 5px;
}

button {
  display: flex;
<<<<<<< HEAD
  flex-direction: column; /* align items vertically */
=======
  flex-direction: column;
  /* align items vertically */
>>>>>>> 49662127d0d6a9f89b1a73a873273141f2c528ef
  align-items: center;
  margin-top: 8px;
  padding: 8px 10px;
  background-color: #007bff;
<<<<<<< HEAD
=======
  color: #ffff;
>>>>>>> 49662127d0d6a9f89b1a73a873273141f2c528ef
}

.Diet {
  font-family: Arial, sans-serif;
<<<<<<< HEAD
  max-width: 800px;
=======
  /* max-width: 800px; */
>>>>>>> 49662127d0d6a9f89b1a73a873273141f2c528ef
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.Diet label {
  font-weight: bold;
}

.Diet input[type="text"],
.Diet input[type="number"],
.Diet textarea {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.Diet textarea {
  height: 150px;
}

.Diet button[type="submit"] {
<<<<<<< HEAD
  background-color: #4caf50;
=======
  background-color: #4CAF50;
>>>>>>> 49662127d0d6a9f89b1a73a873273141f2c528ef
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.Diet button[type="submit"]:hover {
  background-color: #45a049;
}

.generated-text textarea {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  /*box-sizing: border-box;
      */
  border: 1px solid #ccc;
  border-radius: 4px;

  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

output {
  display: inline-block;
  margin-left: 10px;
  font-weight: bold;
}

.generated-text {
  font-size: 15px;
  margin-top: 25px;
<<<<<<< HEAD
}
=======
}
>>>>>>> 49662127d0d6a9f89b1a73a873273141f2c528ef
